<.simple_form :let={f} for={@changeset} action={@action}>
    <.error :if={@changeset.action}>
      Oops, something went wrong! Please check the errors below.
    </.error>
    <.input field={f[:deposit]} type="number" label="Deposit" />
    <.input
            field={f[:role]}
            type="select"
            label="User"
            options={[{"Buyer", "buyer"}, {"Seller", "seller"}]}
   />
    <:actions>
      <.button>Save User</.button>
    </:actions>
  </.simple_form>
  